@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.container {
  flex: 1; /* Giúp container mở rộng để lấp đầy */
  display: flex;
  flex-direction: column;
  width: 100%;
}
